*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    font-size: 16px;
    line-height: 27px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    display: flex;
    flex-direction: column;
}

/*Header Section Start-------------------------------*/

.header{
    width: 100%;
    min-height: 35vh;
    background: linear-gradient(to right, rgb(224, 224, 224), rgba(224,224,224, 1), rgba(224,224,224, 0.97), rgba(224,224,224, 0.85),rgba(224,224,224, 0.7)  ) ,url(./Assets/img/backgrounİmg.png) ,url(./Assets/img/backgrounİmg.png);
    background-size: 100% 100%, 50% 100%;
    background-position: center, right center;
    background-repeat:no-repeat, no-repeat;  

}

.header .container {
    width: 90%;
    height: 35vh;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    align-items: center;
    color: black;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header .container .left-section{
    width: 80%;
    height: 35vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.header .container .left-section .logo{
    margin-right: 20px;
    border: 3px solid lightgray;
    box-shadow: 3px solid rgb(198, 196, 196);
}

.header .container .head-content img{
    width: 15px;
    height: 20px;
}

.header .container .right-section{
    width: 20%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    bottom: 50px;
}

.header .container .right-section .left{
    width: 70%;
    height: 40px;
    background-color: rgba(255, 110, 1, 1);
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.header .container .right-section .left a{
    text-decoration: none;
    color:white;
   
}

.header .container .right-section .right{
    width: 22%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 15px;
}

.header .container .right-section .right img{
    position: relative;
    top: 5px;
}



.header .container .right-section .right a{
    text-decoration: none;
    color:rgb(122, 119, 119);
   
}



.header .container .right-section .right ul, li{
    display: none;
}



.header .container .left-section .logo{
    width: 140px;
    height: 140px;
    display: flex;
    
}

.header .container .left-section .right{
    margin-left: 10px;
}

.header .container .left-section .right .title h1,h3{
    font-weight: lighter;
}

.header .container .left-section .right .title h3{
    margin-top: 10px;
    margin-bottom: 10px;
    color: gray;
}


.header .container .left-section a{
    text-decoration: none;
    color: gray;
}

.header .container .left-section ul {
    list-style-type: none;
    display: flex;
}

.header .container .left-section ul li{
    margin-right: 15px;
    display: flex;
}

.header .container .left-section .socials a img{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    
}

/*Header Section End-------------------------------*/

@media screen and (max-width: 980px){
    .header{
        min-height: 65vh; 
        display: flex;  
    }

    .header .container{
        min-height: 65vh;
    }

    .header .container .head-content img{
        width: 15px;
        height: 20px;
    }

    .header .container .left-section{
        flex-flow: column nowrap;
    }

    .header .container .right  .head-content{
        width: 130%;
    }

    .header .container .left-section  .left .logo{
        position: relative;
        right: 85%;
    }

    .header .container .left-section  .right{
        position: relative;
        left: 12.5%;
        top: 15px;
    }  

    .header .container .right-section {
        width: 50%;
        position: relative;
        float:inline-end;
        bottom: 50%;
    }

    .header .container .right-section .left{
        width: 200px;
    }

    

}

@media screen and (max-width: 960px) {
    
}

@media screen and (max-width: 700px){
   
}

@media screen and (max-width: 572px){
    

    
    
}

@media screen and (max-width: 400px){
    
}