*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    font-size: 16px;
    line-height: 27px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    display: flex;
    flex-direction: column;
}


.boxed-list h3{ 
    font-weight: bold;
}

/*Header Section Start-------------------------------*/

.header{
    background: linear-gradient(to right, rgba(247, 247, 247, 1) 50%, rgba(247, 247, 247, 0.8) 70%, rgba(247, 247, 247, 0.8) 90%) ,url(./Assets/img/backgrounİmg.png) ,url(./Assets/img/backgrounİmg.png);
    background-size: 100% 100%, 50% 100%;
    background-position: center, right center;
    background-repeat:no-repeat, no-repeat; 
    border-bottom: 1px solid white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 60px 0;
    margin-bottom: 65px;
   
}

.head-container{
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    
}

.left-aside{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding-right: 30px;
}

.logo{
    height: 140px;
    flex: 0 0 140px;
    padding: 10px;
    vertical-align: middle;
    margin-right: 35px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .1);
    

}

.left-aside h3{
    color: #333;
    font-size: 26px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
    margin-top: 3px;
    line-height: 36px;
    position: relative;
    padding-right: 0;
    display: inline-block;
}

.left-aside span{
    color: gray;
    display: block;
    font-size: 20px;
    font-weight: 300;
    margin-top: -3px;
}



.left-aside .right-content ul{
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 24px;
    margin-bottom: -7px;
}

.left-aside .right-content li{
    display: inline-block;
    margin-bottom: 12px;
}

.left-aside .right-content li img{
    width: 20px;
    height: 20px;
    font-size: 20px;
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.left-aside .right-content li a{
    color: #666;
    margin-right: 5px !important;
    text-decoration: none;
    transition: .3s;
}

.left-aside .right-content li a:hover{
    color:rgba(255, 110, 1, 1);

}

.socials a{
    text-decoration: none;
}

.socials a img{
    width: 32px;
    height: 32px;
    margin-right: 0px !important;
    border-radius: 100%;
    text-align: center;
    border-style: none;
}

.right-aside .buttons{
    position: absolute;
    right: 0;
    top: 12px;
    display: flex !important;
    text-align: center;
}

.buttons .left-button .button-1{
    background-color: rgba(255, 110, 1, 1);
    padding: 10px 20px;
    line-height: 24px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: all .2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    border: none;
    border-radius: 4px;   
    margin-right: 5px !important;      
}



.buttons .right-button .button-2{
    position: relative;
    height: 48px;
    padding: 0 20px;
    margin: 0;
    outline: none;
    font-size: 16px;
    color: gray;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    font-weight: 500;
    opacity: 1;
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .12);
}

.buttons .left-button .button-1 .btn-1{
    position: relative;
    bottom: 5px;
    margin-right: 2px;
}

/*Header Section End-------------------------------*/

/*About Us Section Start-------------------------------*/

.article{
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    margin-bottom: 55px;
}

.article .article-container{
    margin-bottom: 25px !important;
}

.article .about-title h3{
    margin-bottom: 20px;
    font-size: 20px;
}

.article .about-content p{
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.article .about-content a{
    text-decoration: none;
    font-size: 21px;
    color: rgba(255, 110, 1, 1);
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

/*About Us Section End-------------------------------*/

/* Main Section Start-------------------------------*/

.main{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    
}

.main .container{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  
}

            /*Main Nav section Start*/

            .nav-container{
                margin-bottom: 20px !important;  
                text-align: center;  
                margin-left: 15px;
                margin-right: 15px;
            }

            .nav-buttons{
                display: initial;
                margin-bottom: 20px !important;
            }

            .nav-container .nav-btn {
                background: transparent;
                padding: 8px 16px 10px 16px;
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 5px;
                color: rgba(255, 110, 1, 1);
                border: 1px solid #e6e6e6;
                background: #f2f2f2;
                border-radius: 50px;
            }

            .block-btn{
                align-self: center;
            }

            

        

            /*Main Nav section End*/

           

            /*Main menu head section Start*/
            
            .boxed-list{
                height: 40%;
            }

            .boxed-list .cards{
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
            }

            .boxed-list .boxed-list-head{
                background-color: #f2f2f2;
                border-radius: 4px;
                padding: 20px 35px;
                margin-bottom: 25px;
            }

            .boxed-list-head h3{
                font-size: 18px;
            }

            .boxed-list-head h3 img{
                color: #66676b;
                font-size: 24px;
                position: relative;
                top: 3px;
                line-height: 0;
                display: inline-block;
                margin-right: 5px;
            }

            .right-icon{
                float: right;
                position: relative;
                bottom: 30px;
            }

            .box-menu{
                padding: 20px 0
            }

            .menu-head{
                margin-bottom: 20px !important;
                margin-bottom: 10px !important;
            }

            .menu-head{
                padding: 10px 35px;
                background-color: #e6e6e6;
            }

            .menu-right-icon{
                
                font-size: 19px;
                float: right;
                position: relative;
                bottom: 30px ;
    
            }

            .menu-card{
                width: 46%;
                height: 10%;
                margin-right: 40px;
                margin-bottom: 80px;
            }

            

            .menu-title{
                display: flex;
                
            }

            .menu-title span.dot{
                width: 30px;
                border-bottom: 3px dashed black;
            }

            .menu-title span{
                float: right;
            }

            .card-middle{
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
            }

           .add button{
            padding: 5px;
            background-color:rgba(255, 110, 1, 1) ;
            color: wheat;
            border: none;
            border-radius: 4px;
           }

           .ingredient{
            font-size: 14px;
            font-weight: lighter;
           }

           .alergy {
            list-style-type: none;
            display: flex;
            ;
           }

           .alergy li img{
            width: 20px;
            height: 20px;
            margin-left: 5px;
           }

           #drinks .menu-card{
            height: 12%;
           }



            
            /*Main maenu head section End*/

            /*Main maenu card section Start*/



           

        
            /*Main maenu card section End*/


/*Main Section End-------------------------------*/

/*Footer Section Start-------------------------------*/

.footer{
    width: 100%;
    min-height: 15vh;
    background-color: black;
}

.footer .footer-container{
    width: 80%;
    min-height: 15vh;
    display: block;
    margin: auto;
    color: lightgray;
}

.footer .footer-content{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


/*Footer Section End-------------------------------*/

/*Media Querys Start--------------------------------*/

@media (max-width: 1240px) {
    .header{
        padding: 55px 0;
    }

    .head-container{
        max-width: 1090px;
    }

    .about-us{
        max-width: 1090px;
        
    }

}

@media (max-width: 1198px){
    .menu-card{
        width: 46%;
        height: 10%;
        margin-bottom: 40px ;
        
    }
    .main .container{
        width: 80%;
        
    }

}

@media (max-width: 992px) {
    .header{
        padding: 35px 0;
    }

    .head-container{
        max-width: 960px;
        display: flex;
        flex-direction: column;
    }

    .logo{
        height: 120px;
        width: 120px;
        padding: 10px;
    }

    .left-aside{
        display: block;
        max-width: 100%;
    }

    .left-aside h3{
        font-size: 24px;
    }

    .main .container{
        width: 80%;
        
    }

    .menu-card{
        width: 44%;
        margin-bottom: 40px;
        
    }
}

@media (max-width: 768px) {
    .head-container{
        max-width: 720px;
    }

    .main .container{
        width: 85%;
        
    }

    .menu-card{
        width: 44%; 
    }
}



@media (max-width: 582px) {
    

    .head-container{
        max-width: 540px;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    .buttons .left-button span{
        display: none;
    }
    .menu-card{
        width: 44%;
        height: 10%;
        
    }
}

@media (max-width: 574px){
    .menu-card{
        width: 98%;
        height: 10%;
        
    }

    .main .container{
        width: 90%;
        
    }
}